.container, .containeroop {
 
    background-color: green;
 
    padding-bottom: 12px;
 
}
 


 

.table {
 

    background-color: aqua;
 

}
 


 

.form {
 

    background-color: purple;
 

}

 

table, tr, th, td {
 

    border: 1px solid black;
 

    border-collapse: collapse;
 
}